#textHelloEvano {
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    left: 377px;
    top: 41px;
    color: #000000;
  }

  #builderMain{
    width: 968px;
    height: 80%;
    top: 128px;
    left: 377px;
    position: absolute;
    background-color: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  #headerMainBlock{
    position: relative;
    font-family: 'Poppins';
    width: 970px;
    height: 136px;
  }

  #titleMainText{
    position: absolute;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    left: 38px;
    top: 37px;
    color: #000000;
  }

  #descrMainText{
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    left: 38px;
    top: 75px;
    color: #16C098;
  }

  #mainSearch{
    
    position: absolute;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    width: 134px;
    height: 38px;

    left: 699px;
    top: 44px;
    border-style: none;
    background-color: #F9FBFF;
    border: solid 1px #F9FBFF;
    padding: 0 40px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #searchIcon{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 707px;
    top: 51px;
    background-image: url("../src/Search.png");
    background-repeat: no-repeat;
  }


  #mainBlock1,
  #mainBlock2,
  #mainBlock3,
  #mainBlock4,
  #mainBlock5,
  #mainBlock6,
  #mainBlock7,
  #mainBlock8,
  #mainBlock9{
    position: relative;
    height: 59px;
  }

  .mainBlockTextClass{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #B5B7C0;
  }

  .secondBlockTextClass{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

#mainBlockText1{
    left: 38px;
}

#mainBlockText2{
    left: 210px;
}

#mainBlockText3{
    left: 341px;
}

#mainBlockText4{
    left: 497px;
}

#mainBlockText5{
    left: 704px;
}

#mainBlockText6{
    left: 856px;
}

#buttonActiveBlock{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #008767;
    top: -5px;
    left: 842px;
    width: 80px;
    height: 29px;

    border: 1px solid #008767;
    background-color: #16C09861;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#buttonInactiveBlock{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #DF0404;
    top: -5px;
    left: 842px;
    width: 80px;
    height: 29px;

    border: 1px solid #DF0404;
    background-color: #FFC5C5;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#lineWidth{
    position: absolute;
    top: 30px;
    left: 0px;
    color: #000000;
    width: 970px;
    height: 12px;
    border-top: 1px solid #EEEEEE;
}

#lineWidthShirt1,
#lineWidthShirt2,
#lineWidthShirt3,
#lineWidthShirt4,
#lineWidthShirt5,
#lineWidthShirt6,
#lineWidthShirt7,
#lineWidthShirt8{
    position: absolute;
    top: 40px;
    left: 40px;
    color: #000000;
    width: 888px;
    border-top: 1px solid #EEEEEE;
}

#descrEntries{
    position: absolute;
    left: 38px;
    top: 750px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #B5B7C0;
}

.blockButton{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;

    top: 748px;
    left: 657px;
    width: 25px;
    height: 24px;
}

.blockButton2{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    
    top: 748px;
    left: 864px;
    width: 25px;
    height: 24px;
}

.blockButtonNumber{
    color: #404B52;

    border: 1px solid #EEEEEE;
    background-color: #F5F5F5;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    
}

.blockButtonNumberActive{
    color: #FFFFFF;

    border: 1px solid #5932EA;
    background-color: #5932EA;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


#buttonNumber1{
    position: absolute;
    left: 38px;
    width: 25px;
    height: 24px;


    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    top: 0px;
}

#buttonNumber2{
    position: absolute;
    left: 75px;
    width: 25px;
    height: 24px;
    top: 0px;


    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
}

#buttonNumber3{
    position: absolute;
    left: 112px;
    width: 25px;
    height: 24px;
    top: 0px;


    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
}

#buttonNumber4{
    position: absolute;
    left: 149px;
    width: 25px;
    height: 24px;
    top: 0px;


    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
}

#threeDots{
    position: absolute;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #000000;

    top: 756px;
    left: 843px;
    width: 25px;
    height: 24px;
}

#buttonNumber40{
    position: absolute;
    width: 25px;
    height: 24px;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
}

#buttonNumberArrowRight{
    position: absolute;
    left: 38px;
    width: 25px;
    height: 24px;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
}

